[submodule "src/sc-series/SC-LeGO-LOAM"]
	path = src/sc-series/SC-LeGO-LOAM
	url = https://github.com/Soaringls/SC-LeGO-LOAM.git
[submodule "src/sc-series/SC-LIO-SAM"]
	path = src/sc-series/SC-LIO-SAM
	url = https://github.com/gisbi-kim/SC-LIO-SAM.git
[submodule "src/sc-series/scancontext"]
	path = src/sc-series/scancontext
	url = https://github.com/irapkaist/scancontext.git
[submodule "src/sc-series/PyICP-SLAM"]
	path = src/sc-series/PyICP-SLAM
	url = https://github.com/gisbi-kim/PyICP-SLAM.git
